.root {
  position: relative;
  overflow: hidden;
  background-color: var(--json-tree-mask-background);
  color: var(--mantine-color-gray-0);
  border-radius: var(--mantine-radius-md);
  border: 1px solid color-mix(in srgb, var(--mantine-color-dark-4) 60%, transparent);

  @mixin where-light {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-dark-9);
    border-color: var(--mantine-color-gray-2);
  }
}

.mask {
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-image: radial-gradient(
    var(--json-tree-mask-radius, 18rem) at var(--json-tree-mask-x, 50%) var(--json-tree-mask-y, 50%),
    black 0%,
    transparent 100%
  );
  mask-image: radial-gradient(
    var(--json-tree-mask-radius, 18rem) at var(--json-tree-mask-x, 50%) var(--json-tree-mask-y, 50%),
    black 0%,
    transparent 100%
  );
}
